<% content_for :title, "Edit Property - GHR Properties" %>

<div class="bg-gray-50 py-8">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="mb-8">
      <h1 class="text-4xl font-extrabold text-gray-900 mb-2">Edit Property</h1>
      <p class="text-lg text-gray-600">Update your property details</p>
    </div>

    <%= render "form", property: @property %>
  </div>
</div>

